<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="practice.zank.mapper.CategoryMapper">

    <resultMap id="BaseResultMap" type="practice.zank.entity.Category">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="category_name" column="category_name" jdbcType="VARCHAR"/>
            <result property="category_alias" column="category_alias" jdbcType="VARCHAR"/>
            <result property="create_user" column="create_user" jdbcType="INTEGER"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,category_name,category_alias,
        create_user,create_time,update_time
    </sql>
</mapper>
